In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, f1_score, roc_curve, roc_auc_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
training_data = pd.read_csv("train(1).csv")
training_data.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Customer Status,Last Due Date,Last Payment Date,Churn
0,160831,34,Male,NaN,26,none,17.0,Basic,Quarterly,890.21,30.0,active,06-21,07-08,0
1,354435,30,Male,36.0,22,NaN,15.0,Basic,Annual,954.37,30.0,active,06-10,06-25,0
2,444576,23,Male,44.0,14,none,NaN,Premium,Annual,674.00,21.0,inactive,06-27,07-21,1
3,130847,24,Male,39.0,21,2,14.0,Standard,Quarterly,775.00,18.0,active,06-30,07-14,0
4,108121,26,Male,NaN,26,1,5.0,Basic,Quarterly,679.45,NaN,active,06-29,07-04,0

In [3]:
training_data = training_data.replace("none", np.nan)
training_data['Support Calls'] = training_data['Support Calls'].fillna(2)
training_data['Support Calls'] = training_data['Support Calls'].astype(int)

In [4]:
pdmean = training_data['Payment Delay'].mean()
training_data['Payment Delay'] = training_data['Payment Delay'].fillna(10.0)
pdmean

np.float64(10.258072625698324)

In [5]:
pdmean = training_data['Payment Delay'].mean()
training_data['Payment Delay'] = training_data['Payment Delay'].fillna(10.0)
pdmean

np.float64(10.182875654847521)

In [6]:
lim = training_data['Last Interaction'].mean()
training_data['Last Interaction'] = training_data['Last Interaction'].fillna(14.0)

In [22]:
# Split the dataset into features and target
X = training_data[['Support Calls', 'Total Spend', 'Age']]
#X = pd.get_dummies(X, drop_first=False)  # Convert categorical variable (Race) to dummy variables
y = training_data['Churn'].values
X

        Support Calls  Total Spend  Age
0                   2       890.21   34
1                   2       954.37   30
2                   2       674.00   23
3                   2       775.00   24
4                   1       679.45   26
...               ...          ...  ...
303119              7       347.58   27
303120              2       855.69   40
303121              6       459.00   47
303122              2       872.00   34
303123              8       544.44   46

[303124 rows x 3 columns]

In [23]:
# Train-test split (80-20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Training data:", X_train.shape)
print("Testing data:", X_test.shape)

Training data: (242499, 3)
Testing data: (60625, 3)

In [24]:
y_test = y_test.reshape(-1, 1)

In [25]:
# knn
knn = KNeighborsClassifier(n_neighbors=3)
knn_fit = knn.fit(X_train, y_train)

In [27]:
#y_pred_train = knn_fit.predict(y_train)
y_pred = knn_fit.predict(X_test)

In [28]:
# Evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred, output_dict=True)

# Display accuracy and confusion matrix
print(f"Accuracy: {accuracy}")
print(f"F1-score: {f1}")
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 0.8334350515463917
F1-score: 0.7191098748261474
Confusion Matrix:
[[37601  4860]
 [ 5238 12926]]