In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, f1_score, roc_curve, roc_auc_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
training_data = pd.read_csv("train(1).csv")
training_data.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Customer Status,Last Due Date,Last Payment Date,Churn
0,160831,34,Male,NaN,26,none,17.0,Basic,Quarterly,890.21,30.0,active,06-21,07-08,0
1,354435,30,Male,36.0,22,NaN,15.0,Basic,Annual,954.37,30.0,active,06-10,06-25,0
2,444576,23,Male,44.0,14,none,NaN,Premium,Annual,674.00,21.0,inactive,06-27,07-21,1
3,130847,24,Male,39.0,21,2,14.0,Standard,Quarterly,775.00,18.0,active,06-30,07-14,0
4,108121,26,Male,NaN,26,1,5.0,Basic,Quarterly,679.45,NaN,active,06-29,07-04,0

In [3]:
training_data = training_data.replace("none", np.nan)
training_data['Support Calls'] = training_data['Support Calls'].fillna(2)
training_data['Support Calls'] = training_data['Support Calls'].astype(int)

In [4]:
pdmean = training_data['Payment Delay'].mean()
training_data['Payment Delay'] = training_data['Payment Delay'].fillna(10.0)
pdmean

np.float64(10.258072625698324)

In [5]:
lim = training_data['Last Interaction'].mean()
training_data['Last Interaction'] = training_data['Last Interaction'].fillna(14.0)

In [6]:
# Split the dataset into features and target
X = training_data[['Support Calls', 'Total Spend', 'Usage Frequency', 'Age', 'Contract Length', 'Last Interaction']]
X = pd.get_dummies(X, drop_first=False)  # Convert categorical variable (Race) to dummy variables
y = training_data['Churn']
X

,Support Calls,Total Spend,Usage Frequency,Age,Last Interaction,Contract Length_Annual,Contract Length_Monthly,Contract Length_Quarterly
0,2,890.21,26,34,30.0,False,False,True
1,2,954.37,22,30,30.0,True,False,False
2,2,674.00,14,23,21.0,True,False,False
3,2,775.00,21,24,18.0,False,False,True
4,1,679.45,26,26,14.0,False,False,True
...,...,...,...,...,...,...,...,...
303119,7,347.58,25,27,28.0,False,False,True
303120,2,855.69,14,40,21.0,False,False,True
303121,6,459.00,21,47,14.0,False,False,True
303122,2,872.00,12,34,12.0,False,True,False
303123,8,544.44,13,46,6.0,False,False,True

In [7]:
# Train-test split (80-20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Training data:", X_train.shape)
print("Testing data:", X_test.shape)

Training data: (242499, 8)
Testing data: (60625, 8)

In [8]:
# Classifier
def support_classifier(Support):
    if (Support > 5):
        return 1
    else:
        return 0

In [9]:
def spend_classifier(Spend):
    if (Spend < 500):
        return 1
    else:
        return 0

In [11]:
y_pred_train = [spend_classifier(spend) for spend in X_train['Total Spend']]

In [12]:
# Evaluation metrics
accuracy = accuracy_score(y_train, y_pred_train)
f1 = f1_score(y_train, y_pred_train)
conf_matrix = confusion_matrix(y_train, y_pred_train)
class_report = classification_report(y_train, y_pred_train, output_dict=True)

# Display accuracy and confusion matrix
print(f"Accuracy: {accuracy}")
print(f"F1-score: {f1}")
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 0.7954960639012945
F1-score: 0.577969159546584
Confusion Matrix:
[[158949  10777]
 [ 38815  33958]]